{% load static %}
{% static "images" as baseUrl %}
<style>
    .button {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
      }
    body {
        background: #999;
      }

      .g2b-button {
        border: none;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;
        overflow: hidden;
        position: relative;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        background-color: #4aa79b;
        padding: 17px 55px;
        margin: 0 auto;
        box-shadow: 0 5px 15px rgba(26, 255, 64, 0.2);
      }
      
      .g2b-button span {
        position: relative; 
        z-index: 1;
      }
      
      .g2b-button:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 490%;
        width: 140%;
        background: #31324E;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
        transform: translateX(-98%) translateY(-25%) rotate(45deg);
      }
      
      .g2b-button:hover:after {
        -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
        transform: translateX(-9%) translateY(-25%) rotate(45deg);
      }
      
      .container {
        max-width: 380px;
        margin: 30px auto;
        overflow: hidden;
      }
      
      .printer-top {
        z-index: 1;
        border: 6px solid #666666;
        height: 6px;
        border-bottom: 0;
        border-radius: 6px 6px 0 0;
        background: #333333;
      }
      
      .printer-bottom {
        z-index: 0;
        border: 6px solid #666666;
        height: 6px;
        border-top: 0;
        border-radius: 0 0 6px 6px;
        background: #333333;
      }
      
      .paper-container {
        position: relative;
        overflow: hidden;
        height: 467px;
      }
      
      .paper {
        background: #ffffff;
        height: 447px;
        position: absolute;
        z-index: 2;
        margin: 0 12px;
        margin-top: -12px;
        animation: print 1800ms cubic-bezier(0.68, -0.55, 0.265, 0.9);
        -moz-animation: print 1800ms cubic-bezier(0.68, -0.55, 0.265, 0.9);
      }
      
      .main-contents {
        margin: 0 12px;
        padding: 24px;
      }
      
      .jagged-edge {
        position: relative;
        height: 20px;
        width: 100%;
        margin-top: -1px;
      }
      
      .jagged-edge:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 20px;
        background: linear-gradient( 45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, #ffffff 33.333%, #ffffff 66.667%, transparent 66.667%);
        background-size: 16px 40px;
        background-position: 0 -20px;
      }
      
      .success-icon {
        text-align: center;
        font-size: 48px;
        height: 72px;
        background: #359d00;
        border-radius: 50%;
        width: 72px;
        height: 72px;
        margin: 18px auto;
        color: #fff;
      }
      
      .success-title {
        font-size: 22px;
        text-align: center;
        color: #666;
        font-weight: bold;
        margin-bottom: 16px;
      }
      
      .success-description {
        font-size: 15px;
        line-height: 21px;
        color: #999;
        text-align: center;
        margin-bottom: 24px;
      }
      
      .order-details {
        text-align: center;
        color: #333;
        font-weight: bold;
        .order-number-label {
          font-size: 18px;
          margin-bottom: 8px;
        }
        .order-number {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          line-height: 48px;
          font-size: 18px;
          padding: 8px 0;
          margin-bottom: 24px;
        }
      }
      
      .order-footer {
        text-align: center;
        line-height: 18px;
        font-size: 18px;
        margin-bottom: 8px;
        font-weight: bold;
        color: #999;
      }
      @keyframes print {
        0% {
          transform: translateY(-90%);
        }
        100% {
          transform: translateY(0%);
        }
      }
      @-webkit-keyframes print {
        0% {
          -webkit-transform: translateY(-90%);
        }
        100% {
          -webkit-transform: translateY(0%);
        }
      }
      
      @-moz-keyframes print {
        0% {
          -moz-transform: translateY(-90%);
        }
        100% {
          -moz-transform: translateY(0%);
        }
      }
      
      @-ms-keyframes print {
        0% {
          -ms-transform: translateY(-90%);
        }
        100% {
          -ms-transform: translateY(0%);
        }
      }
      #contBtn {
        position: relative;
        top: 1.5em;
        text-decoration: none;
        background: #8bc34a;
        color: #fff;
        margin: auto;
        padding: .8em 3em;
        -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
        -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
        box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
        border-radius: 25px;
        -webkit-transition: all .4s ease;
              -moz-transition: all .4s ease;
              -o-transition: all .4s ease;
              transition: all .4s ease;
      }
      #contBtn:hover {
        -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
        -webkit-transition: all .4s ease;
              -moz-transition: all .4s ease;
              -o-transition: all .4s ease;
              transition: all .4s ease;
      }
</style>

<div class="container">
    <div class="printer-top"></div>
      
    <div class="paper-container">
      <div class="printer-bottom"></div>
  
      <div class="paper">
        <div class="main-contents">
          <div class="success-icon">&#10004;</div>
          <div class="success-title">
            Payment Complete
          </div>
          <div class="success-description">
            Your payment for VNĐ in USDT has been recieved and send to SHOPLONGVNHUE
          </div>
          <div class="order-details">
            <div class="order-number-label">Payment id</div>
            <div class="order-number">JPZZ1V-WQRR94-78E1VE</div>
          </div>
          <!-- <div class="order-footer">You can close this page!</div> -->
          <div class="d-flex justify-content-center my-3">
            <a class="g2b-button" href="../reset_cart">Get back shopping!</a>
        </div>
        
        </div>
        <div class="jagged-edge"></div>
      </div>
    </div>
  </div>